#root {
  /* Palette */

  --_palette-red-500: rgba(222, 72, 96, 1);
  --_palette-red-600: rgba(201, 47, 64, 1);
  --_palette-red-700: rgba(153, 34, 48, 1);
  --_palette-red-800: rgba(101, 21, 32, 1);
  --_palette-red-900: rgba(52, 8, 16, 1);
  --_palette-red-950: rgba(25, 3, 8, 1);
  --_palette-red-400: rgba(225, 102, 127, 1);
  --_palette-red-50: rgba(251, 237, 240, 1);
  --_palette-red-100: rgba(247, 218, 224, 1);
  --_palette-red-200: rgba(238, 177, 190, 1);
  --_palette-red-300: rgba(232, 141, 160, 1);
  --_palette-blue-50: rgba(235, 250, 253, 1);
  --_palette-blue-100: rgba(215, 243, 251, 1);
  --_palette-blue-200: rgba(178, 232, 246, 1);
  --_palette-blue-300: rgba(143, 221, 242, 1);
  --_palette-blue-400: rgba(117, 211, 239, 1);
  --_palette-blue-500: rgba(98, 201, 234, 1);
  --_palette-blue-600: rgba(78, 163, 192, 1);
  --_palette-blue-700: rgba(56, 120, 141, 1);
  --_palette-blue-800: rgba(36, 79, 93, 1);
  --_palette-blue-900: rgba(15, 40, 47, 1);
  --_palette-blue-950: rgba(6, 19, 23, 1);
  --_palette-green-50: rgba(238, 250, 244, 1);
  --_palette-green-100: rgba(220, 245, 233, 1);
  --_palette-green-200: rgba(187, 235, 210, 1);
  --_palette-green-300: rgba(156, 225, 188, 1);
  --_palette-green-400: rgba(126, 214, 164, 1);
  --_palette-green-500: rgba(106, 202, 143, 1);
  --_palette-green-600: rgba(83, 160, 113, 1);
  --_palette-green-700: rgba(64, 124, 87, 1);
  --_palette-green-800: rgba(41, 83, 58, 1);
  --_palette-green-900: rgba(19, 41, 29, 1);
  --_palette-green-950: rgba(9, 20, 14, 1);
  --_palette-orange-50: rgba(252, 240, 236, 1);
  --_palette-orange-100: rgba(248, 223, 217, 1);
  --_palette-orange-200: rgba(243, 196, 183, 1);
  --_palette-orange-300: rgba(239, 165, 145, 1);
  --_palette-orange-400: rgba(235, 134, 108, 1);
  --_palette-orange-500: rgba(231, 108, 75, 1);
  --_palette-orange-600: rgba(224, 69, 38, 1);
  --_palette-orange-700: rgba(169, 51, 27, 1);
  --_palette-orange-800: rgba(114, 34, 15, 1);
  --_palette-orange-900: rgba(54, 15, 4, 1);
  --_palette-orange-950: rgba(27, 7, 2, 1);
  --_palette-yellow-50: rgba(255, 252, 241, 1);
  --_palette-yellow-100: rgba(254, 249, 228, 1);
  --_palette-yellow-200: rgba(253, 243, 200, 1);
  --_palette-yellow-300: rgba(251, 236, 173, 1);
  --_palette-yellow-400: rgba(250, 230, 146, 1);
  --_palette-yellow-500: rgba(249, 223, 124, 1);
  --_palette-yellow-600: rgba(247, 210, 79, 1);
  --_palette-yellow-700: rgba(206, 172, 58, 1);
  --_palette-yellow-800: rgba(138, 114, 36, 1);
  --_palette-yellow-900: rgba(69, 57, 13, 1);
  --_palette-yellow-950: rgba(34, 28, 4, 1);
  --_palette-purple-50: rgba(242, 240, 250, 1);
  --_palette-purple-100: rgba(229, 223, 245, 1);
  --_palette-purple-200: rgba(206, 196, 237, 1);
  --_palette-purple-300: rgba(180, 163, 227, 1);
  --_palette-purple-400: rgba(154, 132, 218, 1);
  --_palette-purple-500: rgba(130, 102, 209, 1);
  --_palette-purple-600: rgba(92, 58, 193, 1);
  --_palette-purple-700: rgba(69, 44, 145, 1);
  --_palette-purple-800: rgba(47, 29, 98, 1);
  --_palette-purple-900: rgba(22, 13, 47, 1);
  --_palette-purple-950: rgba(11, 7, 24, 1);
  --_palette-pink-50: rgba(250, 239, 249, 1);
  --_palette-pink-100: rgba(244, 222, 242, 1);
  --_palette-pink-200: rgba(232, 184, 226, 1);
  --_palette-pink-300: rgba(222, 152, 213, 1);
  --_palette-pink-400: rgba(214, 120, 201, 1);
  --_palette-pink-500: rgba(205, 87, 186, 1);
  --_palette-pink-600: rgba(186, 58, 164, 1);
  --_palette-pink-700: rgba(139, 42, 122, 1);
  --_palette-pink-800: rgba(91, 27, 80, 1);
  --_palette-pink-900: rgba(47, 13, 42, 1);
  --_palette-pink-950: rgba(23, 5, 20, 1);
  --_palette-greyscale-50: rgba(248, 247, 248, 1);
  --_palette-greyscale-100: rgba(243, 241, 243, 1);
  --_palette-greyscale-200: rgba(228, 225, 228, 1);
  --_palette-greyscale-300: rgba(216, 212, 216, 1);
  --_palette-greyscale-400: rgba(202, 196, 201, 1);
  --_palette-greyscale-500: rgba(188, 182, 188, 1);
  --_palette-greyscale-600: rgba(153, 142, 152, 1);
  --_palette-greyscale-700: rgba(117, 106, 116, 1);
  --_palette-greyscale-800: rgba(77, 70, 77, 1);
  --_palette-greyscale-900: rgba(40, 36, 40, 1);
  --_palette-greyscale-950: rgba(18, 17, 19, 1);

  /* Global variables */

  --c-primary-surface-lighter: var(--_palette-purple-300);
  --c-error-border-default: var(--_palette-red-500);
  --c-error-border-darker: var(--_palette-red-700);
  --c-error-surface-lighter: var(--_palette-red-300);
  --c-error-surface-default: var(--_palette-red-500);
  --c-greyscale-border-default: var(--_palette-greyscale-400);
  --c-greyscale-border-disabled: var(--_palette-greyscale-300);
  --c-error-surface-darker: var(--_palette-red-700);
  --c-warning-surface-subtle: var(--_palette-orange-50);
  --c-greyscale-text-body: var(--_palette-greyscale-800);
  --c-greyscale-text-subtitle: var(--_palette-greyscale-700);
  --c-warning-border-subtle: var(--_palette-orange-100);
  --c-warning-text-label: var(--_palette-orange-700);
  --c-greyscale-text-disabled: var(--_palette-greyscale-500);
  --c-primary-surface-subtle: var(--_palette-purple-50);
  --c-warning-border-default: var(--_palette-orange-500);
  --c-warning-border-darker: var(--_palette-orange-700);
  --c-primary-surface-darker: var(--_palette-purple-700);
  --c-primary-border-lighter: var(--_palette-purple-300);
  --c-warning-surface-lighter: var(--_palette-orange-300);
  --c-warning-surface-default: var(--_palette-orange-500);
  --c-primary-text-label: var(--_palette-purple-700);
  --c-error-surface-subtle: var(--_palette-red-50);
  --c-warning-surface-darker: var(--_palette-orange-700);
  --c-success-surface-subtle: var(--_palette-green-50);
  --c-greyscale-surface-subtle: var(--_palette-greyscale-50);
  --c-greyscale-surface-disabled: var(--_palette-greyscale-200);
  --c-success-border-subtle: var(--_palette-green-100);
  --c-success-text-label: var(--_palette-green-700);
  --c-greyscale-text-caption: var(--_palette-greyscale-600);
  --c-greyscale-text-negative: var(--_palette-greyscale-50);
  --c-success-border-default: var(--_palette-green-500);
  --c-success-border-darker: var(--_palette-green-700);
  --c-primary-border-default: var(--_palette-purple-500);
  --c-primary-border-darker: var(--_palette-purple-700);
  --c-success-surface-lighter: var(--_palette-green-300);
  --c-success-surface-default: var(--_palette-green-500);
  --c-greyscale-border-darker: var(--_palette-greyscale-700);
  --c-greyscale-text-title: var(--_palette-greyscale-900);
  --c-success-surface-darker: var(--_palette-green-700);
  --c-primary-border-subtle: var(--_palette-purple-100);
  --c-error-border-lighter: var(--_palette-red-300);
  --c-primary-surface-default: var(--_palette-purple-500);
  --c-greyscale-surface-default: var(--_palette-greyscale-100);
  --c-error-text-label: var(--_palette-red-700);
  --c-error-border-subtle: var(--_palette-red-100);
  --c-success-border-lighter: var(--_palette-green-300);
  --c-warning-border-lighter: var(--_palette-orange-300);

  --border-active: (var(--c-primary-border-darker));

  --c-primary-border-darker: (var(--spacing-large));


  
}
